
{% load static %}
<!DOCTYPE html>
<html lang="en">
	
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

  <footer class="footer">
  	 <div class="container">

        <div class='footer-subscription'>
            <p class='footer-subscription-heading'>
            	Join the Adventure newsletter to receive our best articles news
            </p>
            <p class='footer-subscription-text'>
            	You can unsubscribe at any time.
            </p>
            <div class='input-areas'>
            <form id="footerForm">
                <input id="footerInput"
                class='footer-input'
                name='email'
                type='email'
                placeholder='Your Email'
				autocomplete="off" 
                />
                <Button buttonStyle='btn--outline' id="footerbtn">Subscribe</Button>
            </form>
            </div>
        </div>


  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 				<li><a href="#">Terms of Service</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Contact Us</h4>
  	 			<ul>
  	 				<li><a href="#">Contact</a></li>
  	 				<li><a href="#">Support</a></li>
  	 				<li><a href="#">Destinations</a></li>
  	 				<li><a href="#">Sponsorships</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>

        <br>
        <br>
        <hr>
        <div class='social-media-wrap'>

        <small class='website-rights'>Copyright © 2024 | All rights reserved by SDC </small></div>
  	 </div>
  </footer>

</body>
</html>
