
{% extends 'base.html' %}

{% load static %}

{% block robots %}index, follow{% endblock %}
{% block keyword %} signup, myshop {%endblock%}
{% block description %}{{article.description}}{% endblock%}

{% block nav %}{% static "website/css/nav.css" %}{% endblock %}
{% block css %}{% static "articles/css/article.css" %}{% endblock %}
{% block footer %}{% static "website/css/footer.css" %}{% endblock %}


{% block  title %}Strawberries{% endblock %}


{% block body %} 
    {% include "includes/nav.html" %}

    <div id="article-main-con">
        
        <main>

            <div id="author-profile" style="text-align:center; padding:10px">
                <img src="{{article.author.picture.url}}" style="width:250px; margin-left: 20px; margin-top:40px; border-radius:30px">
                <p style="margin-top:10px">{{article.author.name}}</p>
            </div>

            <div class="details">

                <h1>{{article.title}}</h1>

                <div id="introduction">
                <p>{{article.introduction}}</p>
                </div>

                {% for subject in article.subject.all %}
                    <a href="">
                    <p id="hashtag">#{{subject}} </p></a>
                {% endfor %}

            </div>

        </main>

        <main class="article">
            
            <div id="#paragraph_1">
                <pre>{{article.first_paragraph}}</pre>
            </div>

            {% if article.first_image %}
                <img src="{{article.first_image.url}}">
            {% endif %}

            <div id="#paragraph_2" style="">
                <pre>{{article.second_paragraph}}</pre>
            </div>
            
            {% if article.second_image %}
                <img src="{{article.second_image.url}}">
            {% endif %}

            <div id="#paragraph_3">
                <pre>{{article.third_paragraph}}</Pre>
            </div>

            {% if article.third_image %}
                <img src="{{article.third_image.url}}">
            {% endif %}
            
            {% if article.title == 'Our App for Android is Now Available' %}
                <video controls>
                    <source src="{% static "website/vid/App_Preview.mp4" %}">
                </video>
            {% endif %}

            <br><br>
        </main>

        <section id="feedback">

            <h3 style="padding-bottom: 20px">User's feedbacks</h3>
            
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <h2 style="color:red">{{message}}</h2><br>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <p style="color:green">{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                    {{field.label_tag}}
                    {{field}}

                    {% for error in field.errors %}
                        <p style="color:red">{{error}}</p><br>
                    {% endfor %}

                {% endfor %}

                <button type="Submit">Submit</button>
            </form>
            
        </section>

        <section style="margin-left: 20px">
            
            {% for review in reviews %}
                <h4 style="font-size: 22px">{{review.username}} {{review.rating}}
                    {% if review.rating == 5 %} ⭐⭐⭐⭐⭐
                    {% elif review.rating == 4 %} ⭐⭐⭐⭐
                    {% elif review.rating == 3 %} ⭐⭐⭐
                    {% elif review.rating == 2 %} ⭐⭐
                    {% elif review.rating == 1 %} ⭐
                    {% endif %} 
                </h4>
                <p style="margin: 10px; font-size: 20px">{{review.text}}</p>
                <br>
            {% endfor %}

        </section>
        
    </div>

    {% include "includes/footer.html" %}
    
    <script type="text/javascript" src="{% static 'articles/js/article.js' %}"></script>
{% endblock %}
